<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking App</title>
</head>
<body>
    <h1>Welcome to the capital inc. Bank ;-)</h1>
    <br>
    <h2>Please provide the payer and payee as well as the amount of money to transfer</h2>
    <br>
    <form action="" method="POST">
        {{form.as_p}}
        {% csrf_token %}
        <button>Transfer money</button>
    </form>
</body>
</html>
